<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <div class="d-flex text-center text-white justify-content-center" id="center">
        <div class="cover-container w-100 h-100">
            <main class="px-3">
                <h1 class="mb-4">Welcome to Celp!</h1>
                <p class="lead">There have been a lot of covid vaccine centers popping up, so I have
                    created a Yelp style review website for covid vaccine centers to inform users about local vaccine
                    centers
                    around them. Created with Mongodb, Express, and Node.</p>
                <a href="/vaccineCenters" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                    Vaccine Centers</a>
            </main>
        </div>
    </div>