<% layout('layouts/boilerplate')%>

    <div class="row mb-5">
        <h1 class="text-center mb-4">New Vaccine Center</h1>
        <div class="col-7 mx-auto">
            <form action="/vaccineCenters" method="POST" novalidate class="validated-form">
                <div class="row">
                    <div class="mb-2 col-6">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="vaccineCenter[name]" required
                            placeholder="Name">
                    </div>
                    <div class="mb-2 col-6">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="vaccineCenter[location]" required
                            placeholder="Enter location">
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="registerURL">Register URL</label>
                    <input class="form-control" type="text" id="registerURL" name="vaccineCenter[registerURL]" required
                        placeholder="Register URL">
                </div>
                <div class="mb-2">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="vaccineCenter[image]" required
                        placeholder="Image URL">
                </div>
                <div class="row">
                    <div class="mb-2 col-4">
                        <label class="form-label" for="vaccine">Vaccine</label>
                        <select class="form-select" id="service" name="vaccineCenter[vaccine]"
                            aria-label="multiple select" required>
                            <option selected>Select Vaccine Offered</option>
                            <option value="Pfizer">Pfizer</option>
                            <option value="Moderna">Moderna</option>
                            <option value="Johnson & Johnson">Johnson & Johnson</option>

                        </select>
                    </div>
                    <div class="mb-2 col-3">
                        <label class="form-label" for="price">Pricing</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="vaccineCenter[price]" required>
                        </div>
                    </div>
                    <div class="mb-2 col-5">
                        <label class="form-label" for="service">Service(s)</label>
                        <select class="form-select" id="service" name="vaccineCenter[service]"
                            aria-label="multiple select">
                            <option selected>Select Service(s) Offered</option>
                            <option value="Walk-In">Walk-In</option>
                            <option value="Appointment">Appointment</option>
                            <option value="Both">Both</option>

                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="vaccineCenter[description]"
                        required placeholder="Please give a description of the place." rows="5"></textarea>
                </div>
                <div class="mb-2">
                    <button class="btn btn-primary btn-lg btn-block">Add Vaccine Center</button>
                </div>
            </form>
            <a href="/vaccineCenters/" class="btn btn-secondary btn-lg btn-block" role="button">
                Back To Vaccine Centers</a>
        </div>
    </div>